.slds-is-open {
    --sds-c-accordion-summary-color-background: rgb(243, 243, 243);
  }

  .tableFixHead {
    overflow: auto;
    height: 170px;
}

.tableFixHead table {
    border-collapse: collapse;
    width: 100%;
}

.tableFixHead th {
    position: sticky;
    top: 0;
    z-index: 4;
    background: rgb(243,243,243);
 }
 .pencil-icon::before {
    content: "\e90f";
    font-family: "Salesforce Lightning Design System Icons";
    font-size: 14px;
    color: #0070d2;
    cursor: pointer;
  }
  
  .pencil-icon:hover::before {
    color: #004b8f;
  }
  
  .slds-hide {
    display: none !important;
  }
  
  .slds-show_inline-block {
    display: inline-block !important;
  }